<main class="main productos">
    <div class="card mb-3 animate__fadeInUp animate__animated wow">
        <div class="row g-0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/img/vender.jpg" class="img-resposive" alt="...">
            </div>
            <div class="col-md-8 col-sm8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text">Aqui va la Descripcion del Producto</p>
                    <h3>$35.000</h3>
                    <span class="badge bg-success">disponible</span>
                </div>
                <a href="" class="btn btn-outline-success success m-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                </a>
                <a (click)="verProducto()" class="btn btn-outline-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 animate__fadeInUp animate__animated wow">
        <div class="row g-0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/img/vender.jpg" class="img-resposive" alt="...">
            </div>
            <div class="col-md-8 col-sm8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text">Aqui va la Descripcion del Producto</p>
                    <h3>$35.000</h3>
                    <span class="badge bg-success">disponible</span>
                </div>
                <a href="" class="btn btn-outline-success success m-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                </a>
                <a (click)="verProducto()" class="btn btn-outline-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 animate__fadeInUp animate__animated wow">
        <div class="row g-0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/img/vender.jpg" class="img-resposive" alt="...">
            </div>
            <div class="col-md-8 col-sm8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text">Aqui va la Descripcion del Producto</p>
                    <h3>$35.000</h3>
                    <span class="badge bg-success">disponible</span>
                </div>
                <a href="" class="btn btn-outline-success success m-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                </a>
                <a (click)="verProducto()" class="btn btn-outline-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 animate__fadeInUp animate__animated wow">
        <div class="row g-0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/img/vender.jpg" class="img-resposive" alt="...">
            </div>
            <div class="col-md-8 col-sm8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text">Aqui va la Descripcion del Producto</p>
                    <h3>$35.000</h3>
                    <span class="badge bg-success">disponible</span>
                </div>
                <a href="" class="btn btn-outline-success success m-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                </a>
                <a (click)="verProducto()" class="btn btn-outline-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 animate__fadeInUp animate__animated wow">
        <div class="row g-0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/img/vender.jpg" class="img-resposive" alt="...">
            </div>
            <div class="col-md-8 col-sm8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text">Aqui va la Descripcion del Producto</p>
                    <h3>$35.000</h3>
                    <span class="badge bg-success">disponible</span>
                </div>
                <a href="" class="btn btn-outline-success success m-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                </a>
                <a (click)="verProducto()" class="btn btn-outline-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 animate__fadeInUp animate__animated wow">
        <div class="row g-0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/img/vender.jpg" class="img-resposive" alt="...">
            </div>
            <div class="col-md-8 col-sm8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text">Aqui va la Descripcion del Producto</p>
                    <h3>$35.000</h3>
                    <span class="badge bg-success">disponible</span>
                </div>
                <a href="" class="btn btn-outline-success success m-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                </a>
                <a (click)="verProducto()" class="btn btn-outline-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </a>
            </div>
        </div>
    </div>
</main>